<div class="clearfix">
	
	<div class="span4 well squared_banner">
		<!-- space for banner -->
		<%= image_tag "sma_blue.jpg" %>
	</div>
	<div class="span7 home_carousel no_margin_left pull-right">
		<!-- Start slideshow-carousel -->
		
		<div id="myCarousel" class="carousel slide">
		<!-- 
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
		-->
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item">	<%= image_tag "sma_black.jpg" %></div>
    <div class="item"><%= image_tag "sma_blue.jpg" %></div>
    </div>
    <!-- Carousel nav 
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		--> 
    </div>





		<!-- // end of slideshow-carousel -->
		
	</div>
</div>


<div class="span12">
	<div class="span4">
		<% @property = Refinery::Properties::Property.last %>
		<h3><%= @property.name %></h3>
		<p><%= image_fu @property.img_1 %></p>
		<%= truncate @property.description, :length => 100,
		 																		:omission => "...",
		 																		:preserve_html_tags => true %>
   </div>		
	<div class="span4">
		<h3>Concierge Service</h3>
		<a href="listings.html"><img src="css/images/new_homes.png" alt="" /></a>
		<p>Sign up for our weekly newsletter and stay up-to-date with the latest offers, and newest products.<a href="listings.html" class="pull-right">more...</a></p>
	</div>		
	<div class="span3">
		<h3>Acommodations</h3>
		<a href="listings.html"><img src="css/images/homes_abroad.png" alt="" /></a>
		<p>Sign up for our weekly newsletter and stay up-to-date with the latest offers, and newest products.<a href="listings.html" class="pull-right">more...</a></p>
	</div>		
</div>		




</div>
